*{
    box-shadow: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#B0E0E6),
    url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 100px;
}
.banner-text h3{
    font-size: 50px;
    font-style: italic;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background:cadetblue;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: cadetblue;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#about{
    width: 100%;
    padding: 70px 0;
}
.about-img{
    flex-basis: 50%;
    margin: auto;
}
.about-img img{
    width: 80%;
    border-radius: 10px;
}
.about-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.abouts {
    flex-basis: 50%;
}
.abouts ul li{
    list-style: none;
}
.abouts h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: cadetblue;
}
.about-btn{
    margin: 70px auto 0;
}
.about-btn a{
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: black;
    border: 2px solid black;
    z-index: 1;
    transition: color 0.5s;
}
.about-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #B0E0E6;
    z-index: -1;
    transition: 0.5s;
}
.about-btn a:hover span{
    width: 100%;
}
.about-btn a:hover{
    color: #000
}
#favorite{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.favorite-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.favorite-box h1{
    color: cadetblue;
}
.favorite-box p{
    text-align: center;
}
.single-favorite{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-favorite img{
    width: 100%;
    border-radius: 7px;
}
.favorite-btn{
    margin: 70px auto 0;
}
.favorite-btn a{
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: black;
    border: 2px solid black;
    z-index: 1;
    transition: color 0.5s;
    text-align: center;
}
.favorite-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #B0E0E6;
    z-index: -1;
    transition: 0.5s;
}
.favorite-btn a:hover span{
    width: 100%;
}
.favorite-btn a:hover{
    color: #000
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#B0E0E6);
    opacity: 0;
    transition: 1s;
}
.single-favorite:hover .overlay{
    opacity: 1;
}
.favorite-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.favorite-desc p{
    font-size: 14px;
}
.single-favorite:hover .favorite-desc{
    bottom: 40%;
    opacity: 1;
}
#portfolio{
    width: 100%;
    padding: 70px 0;
    background: #fff;
}
.container{
    text-align: center;
    margin: auto;
}
.container-element{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.container-title{
    padding: 10px;
}
.container-title h1{
    color: cadetblue;
}
.container-image{
    margin: auto
}
.container-image img{
    width: 100%;
    border-radius: 10px;
}
.container-text{
    margin-top: 50px;
}
#contact{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
    flex: auto;
    text-align: center;
}
.contact-social{
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.contact-social h1{
    text-align: center;
    color: cadetblue;
}
.contact-social p{
    font-size: 12px;
    margin-top: 20px;
    color: #000;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  } 
.fa:hover {
      opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
@media screen and (max-width:576px) {
    
}